.titleItem {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.6rem;
    background-color: lightgray;
    border: thin solid gray;
}

.titleImg {
    height: 64px;
    /*width: 64px;*/
    padding: 18px;
    
}

.titleImg {
    height: 64px;
    width: 64px;
    margin: 18px 0px 18px 18px;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    flex: none;
}

.titleTextBox {
    margin: 5px 20px 5px 18px;
    /*margin-top: 5px;
    margin-left: 18px;
    margin-right: 18px;*/
}

.titleAuthor {
    font-size: 1.2rem;
}

.titleButtons {
    flex: auto;
    /*text-align: right;*/
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 14px;
}

.titleButtons > p {
    margin: 0px;
    padding: 0px;
}

.titleStar {
    position: absolute;
    font-size: 2.4rem;
    right: -1px;
}

.titleLater {
    position: absolute;
    font-size: 3.0rem;
    top: 3.0rem;
    right: -4px;
}

.titleList {
    margin: 0px;
    padding: 0px;
    min-width: 400px;
    max-width: 500px;
    flex: auto;
    overflow-y: scroll;
}