.subscriptionsItem {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.6rem;
    border: thin solid #dadbdb;
}

.subItemImg {
    height: 16px;
    width: 16px;
    padding: 18px;
}

.subCount {
    flex: auto;
    text-align: right;
    margin-right: 10px;
}

.subscriptionsHeader{
    margin: 0px;
    padding: 0px;
    height: 50px;
    background-color: #8FBC94;
}

.subscriptionsList {
    margin: 0px;
    padding: 0px;
    width: 400px;
    overflow-y: scroll;
    flex: none;
}