.subscriptionsItem {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.6rem;
    background-color: lightgray;
    border: thin solid gray;
}

.subItemImg {
    height: 16px;
    width: 16px;
    padding: 18px;
}

.subCount {
    flex: auto;
    text-align: right;
    margin-right: 10px;
}

.subscriptionsList {
    margin: 0px;
    padding: 0px;
    width: 400px;
    overflow-y: scroll;
    /*min-width: 500px;
    max-width: 500px;*/
    flex: none;
    /*animation: turnThin 1s forwards;*/
}

@keyframes turnThin {
    to {
        width: 53px;
        min-width: 53px;
    }
}