.loginPanel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.loginAvatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.loginButton {
    font-size: 1.6rem;
    color: white;
    background-color: mediumseagreen;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    width: 60%;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
}