.functionBar {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.starButton {
    margin-right: 8px;
    font-size: 2.0rem;
}

.content {
    font-size: 1.6rem;
    min-width: 500px;
    max-width: 800px;
    overflow-y: scroll;
}

.innerContent{
    margin: 8px;

}

h1.title {
    text-align: center;
    margin: 0px;
}

h5.author {
    margin: 4px;
    text-align: center;
    color: grey;
}

.article img {
    max-width: 800px;
}