.functionBar {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.content {
    font-size: 1.6rem;
    min-width: 500px;
    max-width: 100%;
    background-color: #f4f7f7;
}

.starButton {
    margin: 16px;
    width: 28px;
}

.laterButton {
    margin: 16px;
    width: 28px;
}

.innerContent{
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

h1.title {
    text-align: center;
    margin: 0px;
}

h5.author {
    margin: 4px;
    text-align: center;
    color: grey;
}

.article img {
    max-width: 100%;
    clear: both;
    display: block;
    margin: auto;
}

.article {
    line-height: 150%;
}